#footerContainer {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px 30px 0px;
}

.footerIcon {
  font-size: 36px;
  padding: 0px;
}

.iconAnchor {
  display: block;
  margin: 0px 50px 0px 50px;
}

@media (max-width: 600px) {
  .footerIcon {
    font-size: 30px;
  }
}
