#hobbyContainer {
  font-size: 10px;
  width: 49.5em;
  height: 107.25em;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  transform: translate(0em, 4em);
}

.hobby {
  opacity: 0.15;
  position: absolute;
  width: 7em;
  height: auto;
  transition-duration: 1.5s;
}

.hobby1 {
  transform: translate(0em, 0em);
}

.hobby2 {
  transform: translate(22em, 0em);
}

.hobby3 {
  transform: translate(42.5em, 0em);
}

.hobby4 {
  transform: translate(0em, 20.1em);
}

.hobby5 {
  transform: translate(22em, 20.1em);
}

.hobby6 {
  transform: translate(42.5em, 20.1em);
}

.hobby7 {
  transform: translate(0em, 40.2em);
}

.hobby8 {
  transform: translate(22em, 40.2em);
}

.hobby9 {
  transform: translate(42.5em, 40.2em);
}

.hobby10 {
  transform: translate(0em, 60.3em);
}

.hobby11 {
  transform: translate(22em, 60.3em);
}

.hobby12 {
  transform: translate(42.5em, 60.3em);
}

.hobby13 {
  transform: translate(0em, 80.4em);
}

.hobby14 {
  transform: translate(22em, 80.4em);
}

.hobby15 {
  transform: translate(42.5em, 80.4em);
}

.hobby16 {
  transform: translate(0em, 100.5em);
}

.hobby17 {
  transform: translate(22em, 100.5em);
}

.hobby18 {
  transform: translate(42.5em, 100.5em);
}

/* GitHub */

.githubHobby1 {
  transform: translate(11em, 3em);
}

.githubHobby2 {
  transform: translate(22em, 3em);
}

.githubHobby3 {
  transform: translate(33em, 3em);
}

.githubHobby4 {
  transform: translate(2.5em, 10em);
}

.githubHobby5 {
  transform: translate(2.5em, 23.4em);
}

.githubHobby6 {
  transform: translate(40em, 10em);
}

.githubHobby7 {
  transform: translate(2.5em, 36.8em);
}

.githubHobby8 {
  transform: translate(2.5em, 50.2em);
}

.githubHobby9 {
  transform: translate(2.5em, 63.6em);
}

.githubHobby10 {
  transform: translate(2.5em, 77em);
}

.githubHobby11 {
  transform: translate(22em, 70em);
}

.githubHobby12 {
  transform: translate(40em, 77em);
}

.githubHobby13 {
  transform: translate(2.5em, 90.5em);
}

.githubHobby14 {
  transform: translate(33em, 70em);
}

.githubHobby15 {
  transform: translate(40em, 90.5em);
}

.githubHobby16 {
  transform: translate(11em, 97.5em);
}

.githubHobby17 {
  transform: translate(22em, 97.5em);
}

.githubHobby18 {
  transform: translate(33em, 97.5em);
}

/* LinkedIn */

.linkedinHobby1 {
  transform: translate(2.5em, 2.5em);
}

.linkedinHobby2 {
  transform: translate(2.5em, 9.85em);
}

.linkedinHobby3 {
  transform: translate(2.5em, 17.2em);
}

.linkedinHobby4 {
  transform: translate(2.5em, 24.55em);
}

.linkedinHobby5 {
  transform: translate(2.5em, 31.9em);
}

.linkedinHobby6 {
  transform: translate(2.5em, 39.25em);
}

.linkedinHobby7 {
  transform: translate(2.5em, 46.6em);
}

.linkedinHobby8 {
  transform: translate(2.5em, 53.95em);
}

.linkedinHobby9 {
  transform: translate(2.5em, 61.3em);
}

.linkedinHobby10 {
  transform: translate(2.5em, 68.65em);
}

.linkedinHobby11 {
  transform: translate(2.5em, 76em);
}

.linkedinHobby12 {
  transform: translate(2.5em, 83.35em);
}

.linkedinHobby13 {
  transform: translate(2.5em, 90.7em);
}

.linkedinHobby14 {
  transform: translate(11.87em, 98em);
}

.linkedinHobby15 {
  transform: translate(30.62em, 98em);
}

.linkedinHobby16 {
  transform: translate(2.5em, 98em);
}

.linkedinHobby17 {
  transform: translate(21.25em, 98em);
}

.linkedinHobby18 {
  transform: translate(40em, 98em);
}

/* Email */

.emailHobby1 {
  transform: translate(2.5em, 2.5em);
}

.emailHobby2 {
  transform: translate(15em, 2.5em);
}

.emailHobby3 {
  transform: translate(27.5em, 2.5em);
}

.emailHobby4 {
  transform: translate(2.5em, 14.43em);
}

.emailHobby5 {
  transform: translate(2.5em, 26.37em);
}

.emailHobby6 {
  transform: translate(40em, 2.5em);
}

.emailHobby7 {
  transform: translate(2.5em, 38.31em);
}

.emailHobby8 {
  transform: translate(15em, 50.25em);
}

.emailHobby9 {
  transform: translate(27.5em, 50.25em);
}

.emailHobby10 {
  transform: translate(2.5em, 50.25em);
}

.emailHobby11 {
  transform: translate(2.5em, 62.18em);
}

.emailHobby12 {
  transform: translate(40em, 50.25em);
}

.emailHobby13 {
  transform: translate(2.5em, 74.11em);
}

.emailHobby14 {
  transform: translate(2.5em, 86.04em);
}

.emailHobby15 {
  transform: translate(40em, 98em);
}

.emailHobby16 {
  transform: translate(2.5em, 98em);
}

.emailHobby17 {
  transform: translate(15em, 98em);
}

.emailHobby18 {
  transform: translate(27.5em, 98em);
}

@media (max-height: 1215px), (max-width: 550px) {
  #hobbyContainer {
    font-size: 9px;
  }
}

@media (max-height: 1107px), (max-width: 500px) {
  #hobbyContainer {
    font-size: 8px;
  }
}

@media (max-height: 1000px), (max-width: 475px) {
  #hobbyContainer {
    font-size: 7px;
  }
}

@media (max-height: 895px), (max-width: 430px) {
  #hobbyContainer {
    font-size: 6px;
    transform: translate(0em, 2em);
  }
}

@media (max-height: 775px) {
  #hobbyContainer {
    font-size: 5px;
  }
}

@media (max-height: 665px) {
  #hobbyContainer {
    font-size: 4px;
  }
}
