#navBarWrap {
  width: 100vw;
  position: fixed;
  margin: 0px;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 5;
  min-width: 375px;
}

.navBarMain {
  background-color: #89cffb;
  animation-name: toMain;
  animation-duration: 0.75s;
}

#navBar {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  min-width: 375px;
}

.menu-btn {
  display: none;
  visibility: hidden;
  z-index: 3;
}

.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.logoLink {
  text-decoration: none;
  color: black;
}

#name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: white;
}

.navItem {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  transition-duration: 0.75s;
}

.navItem:hover {
  color: black;
}

@keyframes slideIn {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

.slideIn {
  animation-name: slideIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes slideOut {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
    display: none;
    visibility: hidden;
  }
}

.slideOut {
  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@media (max-width: 600px) {
  #name {
    margin-right: 9vw;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: auto;
    margin-left: 15px;
    display: inline-flex;
    visibility: visible;
  }
  .logoLink {
    margin-right: auto;
  }
  .navItem {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 350px) {
  #name {
    margin-right: 12vw;
  }
}

@media (max-width: 320px) {
  #name {
    margin-right: 20vw;
  }
}
