#slideMenuWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
  visibility: hidden;
  backdrop-filter: blur(5px);
  font-size: 10px;
}

.menuHidden {
  display: none;
  visibility: hidden;
  right: 100%;
}

#SMLinkBox {
  margin: 100px 0px 0px 50px;
}

.SMLink {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6em;
  font-weight: bold;
  margin: 1em 0em 0em 1em;
  transition-duration: 0.25s;
}

.SMLink:active {
  color: #ea86b6;
}

.SMItem {
  margin: 1.5em 0em;
  letter-spacing: 0.05em;
}

@media (hover: hover) {
  .SMLink:hover {
    color: #ea86b6;
  }
}

@media (max-width: 750px) {
  #slideMenuWrapper {
    visibility: visible;
    display: inline-flex;
  }
}

@media (max-height: 480px) {
  .SMItem {
    margin: 1em 0em;
  }
}

@media (max-height: 425px) {
  .SMItem {
    margin: 0.5em 0em;
  }
}

@media (max-height: 355px) {
  #SMLinkBox {
    margin: 100px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
