/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html,
body {
  margin: 0px;
}

h1 {
  color: #0670b2;
  margin: 22px 36px 0px 36px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.fullPageContainer {
  margin: 100px 0px 0px 0px;
  width: 100vw;
  max-width: 100%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullPageContainer {
  min-height: 85vh;
}

.gitHubIcon {
  color: black;
  transition-duration: 0.3s;
}

.gitHubIcon:hover {
  transform: scale(1.05);
  color: #7b2f93;
}

.linkedInIcon {
  color: black;
  transition-duration: 0.3s;
}

.linkedInIcon:hover {
  transform: scale(1.05);
  color: #0077b5;
}

.emailIcon {
  color: black;
  transition-duration: 0.3s;
}

.emailIcon:hover {
  transform: scale(1.05);
  color: #ea4335;
}
