#music-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin: 3.6em 0;
  gap: 2.5em;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.song-wrapper {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2.5em;
  width: 80%;
  max-width: 1440px;
  min-width: 215px;
  border-radius: 0.8em;
  display: flex;
}

.song-wrapper .left-column {
  display: flex;
  flex-direction: column;
}

.song-wrapper .right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2.5em;
}

.song-wrapper .left-column .song-name {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 1em;
}

.song-wrapper .left-column img {
  width: 50em;
  height: 50em;
}

.song-wrapper .right-column .credits-wrapper {
  margin-top: 3.3em;
  font-size: 2em;
}

.song-wrapper .right-column .credits-wrapper .release-date,
.song-wrapper .right-column .credits-wrapper .master-credit {
  margin-bottom: 0.5em;
}

.song-wrapper .right-column .credits-wrapper .studio {
  margin-bottom: 1em;
}

.song-wrapper .right-column .credits-wrapper .credit span {
  font-weight: bold;
}

.song-wrapper .right-column .links-wrapper {
  display: flex;
  gap: 2em;
}

.song-wrapper .right-column .links-wrapper .song-link-anchor {
  width: 7.5em;
  height: 7.5em;
  background-color: white;
  color: #fd8d67;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}

.song-wrapper .right-column .links-wrapper .song-link-anchor:active {
  color: #f96d3c;
}

.song-wrapper .right-column .links-wrapper .song-link-icon {
  font-size: 5em;
  color: inherit;
}

@media (hover: hover) {
  .song-wrapper .right-column .links-wrapper .song-link-anchor:hover {
    color: #f96d3c;
  }
}

@media (max-width: 1240px) {
  #music-wrapper {
    font-size: 9px;
  }
}

@media (max-width: 1120px) {
  #music-wrapper {
    font-size: 8px;
  }
}

@media (max-width: 985px) {
  #music-wrapper {
    font-size: 7px;
  }
}

@media (max-width: 860px) {
  #music-wrapper {
    font-size: 6px;
  }
}

@media (max-width: 750px) {
  #music-wrapper {
    font-size: 10px;
  }

  .song-wrapper {
    flex-direction: column;
  }

  .song-wrapper .left-column {
    align-items: center;
  }

  .song-wrapper .right-column {
    align-items: center;
    margin-left: 0em;
  }

  .song-wrapper .right-column .credits-wrapper {
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
}

@media (max-width: 655px) {
  #music-wrapper {
    font-size: 9px;
  }
}

@media (max-width: 590px) {
  #music-wrapper {
    font-size: 8px;
  }
}

@media (max-width: 525px) {
  #music-wrapper {
    font-size: 7px;
  }
}

@media (max-width: 460px) {
  #music-wrapper {
    font-size: 6px;
  }
}

@media (max-width: 400px) {
  #music-wrapper {
    font-size: 5px;
  }
}

@media (max-width: 325px) {
  #music-wrapper {
    font-size: 4px;
  }
}
